<div class="main-panel">
    <div class="content-wrapper">

        <div class="row">
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">Toplam Ürün Sayısı</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                                <div class="d-md-flex">
                                    <h2 class="mb-0">@ViewBag.SumStoklarCount Adet</h2>
                                  
                                </div>
                                <small class="text-gray">Toplamda @ViewBag.SumStoklarCount adet ürün bulunuyor...</small>
                            </div>
                            <div class="d-inline-block">
                                <i class="fas fa-archive text-info icon-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">En Yüksek Ürün Stoğu</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                                <div class="d-md-flex">
                                    <h2 class="mb-0">@ViewBag.StoklarMaxCount Adet</h2>
                                </div>
                                <small class="text-gray">Ürün Adı:  @ViewBag.StoklarMaxCountUrunAdı </small>
                            </div>
                            <div class="d-inline-block">
                                <i class="fas fa-cubes info icon-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">En Düşük Ürün Stoğu</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                                <div class="d-md-flex">
                                    <h2 class="mb-0">@ViewBag.StoklarMinCount Adet</h2>
                                    
                                </div>
                                <small class="text-gray">Ürün Adı:  @ViewBag.StoklarMinCountUrunAdı</small>
                            </div>
                            <div class="d-inline-block">
                                <i class="fas fa-cubes info icon-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Toplam Tedarikçi Sayısı -->
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">Tedarikçi Sayısı</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                                <div class="d-md-flex">
                                    <h2 class="mb-0">@ViewBag.TedarikcilerCount Adet</h2>
                                </div>
                                <small class="text-gray">Toplamda @ViewBag.TedarikcilerCount tedarikçi bulunuyor...</small>
                            </div>
                            <div class="d-inline-block">
                                <i class="fas fa-users text-info icon-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- En Fazla Ürün Veren Tedarikçi -->
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">En Fazla Ürün Gönderen Tedarikçi</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                                <div class="d-md-flex">
                                    <h2 class="mb-0">@ViewBag.EnFazlaUrunTedarikciMiktar Adet</h2>
                                </div>
                                <small class="text-gray">Tedarikçi: @ViewBag.EnFazlaUrunTedarikci</small>
                            </div>
                            <div class="d-inline-block">
                                <i class="fas fa-truck text-success icon-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- En Az Ürün Veren Tedarikçi -->
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">En Az Ürün Gönderen Tedarikçi</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                                <div class="d-md-flex">
                                    <h2 class="mb-0">@ViewBag.EnAzUrunTedarikciMiktar Adet</h2>
                                </div>
                                <small class="text-gray">Tedarikçi: @ViewBag.EnAzUrunTedarikci</small>
                            </div>
                            <div class="d-inline-block">
                                <i class="fas fa-truck-loading text-warning icon-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Toplam Kategori Sayısı -->
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">Kategori Sayısı</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                                <div class="d-md-flex">
                                    <h2 class="mb-0">@ViewBag.KategorilerCount Adet</h2>
                                </div>
                                <small class="text-gray">Toplamda @ViewBag.KategorilerCount kategori bulunuyor...</small>
                            </div>
                            <div class="d-inline-block">
                                <i class="fas fa-chart-pie text-info icon-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- En Fazla Ürüne Sahip Kategori -->
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">En Fazla Ürün İçeren Kategori</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                                <div class="d-md-flex">
                                    <!-- Burada ürün miktarını yazdır -->
                                    <h2 class="mb-0">@ViewBag.EnFazlaUrunKategoriMiktar Adet</h2>
                                </div>
                                <!-- Burada kategori adını yazdır -->
                                <small class="text-gray">Kategori: @ViewBag.EnFazlaUrunKategori</small>
                            </div>
                            <div class="d-inline-block">
                                <i class="fas fa-suitcase text-success icon-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- En Az Ürüne Sahip Kategori -->
            <div class="col-md-4 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-0">En Az Ürün İçeren Kategori</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-inline-block pt-3">
                                <div class="d-md-flex">
                                    <!-- Burada ürün miktarını yazdır -->
                                    <h2 class="mb-0">@ViewBag.EnAzUrunKategoriMiktar Adet</h2>
                                </div>
                                <!-- Burada kategori adını yazdır -->
                                <small class="text-gray">Kategori: @ViewBag.EnAzUrunKategori</small>
                            </div>
                            <div class="d-inline-block">
                                <i class="fas fa-suitcase text-success icon-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="far fa-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>