<div class="row grid-margin">
    <div class="col-12">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fa fa-user mr-2"></i>
                            Tedarikçi Sayısı
                        </p>
                        <h2>@ViewBag.totalTedarikciCount</h2>
                        <label class="badge badge-outline-success badge-pill">2.7% increase</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-hourglass-half mr-2"></i>
                            Kategori Sayısı
                        </p>
                        <h2>@ViewBag.totalKategoriCount</h2>
                        <label class="badge badge-outline-danger badge-pill">30% decrease</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-cloud-download-alt mr-2"></i>
                            Stoklar
                        </p>
                        <h2>@ViewBag.totalStokCount</h2>
                        <label class="badge badge-outline-success badge-pill">12% increase</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-check-circle mr-2"></i>
                            Birim Sayısı
                        </p>
                        <h2>@ViewBag.totalBirimCount</h2>
                        <label class="badge badge-outline-success badge-pill">57% increase</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-chart-line mr-2"></i>
                            Depo Sayısı
                        </p>
                        <h2>@ViewBag.totalBirimCount</h2>
                        <label class="badge badge-outline-success badge-pill">10% increase</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-circle-notch mr-2"></i>
                            Toplam Ürün Sayısı
                        </p>
                        <h2>@ViewBag.sumStoklarCount</h2>
                        <label class="badge badge-outline-danger badge-pill">16% decrease</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>